/* General styles */
html {
  font-family: sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 4.5rem;
}

main {
  align-items: center;
  background-color: #f7e9dc;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* Basic component styles */
.component {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 90vw;
  row-gap: 15px;
  width: 400px;
}

/* Balance section styles */
.balance {
  align-items: center;
  background-color: #ec745c;
  border-radius: 15px;
  color: #fffcf7;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 20px 30px;
}

.current-balance {
  font-size: 2.5rem;
  margin-top: 10px;
}

.circle-left {
  border-radius: 63px;
  border: 0.2rem solid #fffcf7;
  height: 3.5rem;
  position: relative;
  transform: translateX(-50%);
  width: 3.5rem;
}

.circle-right {
  background-color: #392416;
  border-radius: 63px;
  height: 3.5rem;
  position: relative;
  width: 3.5rem;
}

/* Main component section styles */
.main {
  background-color: #fffcf7;
  border-radius: 15px;
  color: #392416;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 30px 30px;
}

/* Spendings/bar chart styles */
.spendings-breakdown {
  background-color: #fffcf7;
  border-bottom: 2px solid #f7e9dc;
  height: 170px;
  padding-bottom: 2.25rem;
}

.bar-chart {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  list-style: none;
  width: 100%;
}

.bar-container {
  align-items: end;
  display: flex;
}

.bar {
  background-color: #ec745c;
  border-radius: 3px;
  height: 100%;
  position: relative;
  width: 100%;
}

.bar:hover {
  background-color: #ff9b87;
  cursor: pointer;
}

.current-day {
  background-color: #75b4bc;
}

.current-day:hover {
  background-color: #b4dfe5;
}

.spending {
  display: grid;
  grid-template-rows: 2fr auto;
}

.spending-tooltip {
  align-items: center;
  background-color: #392416;
  border-radius: 3px;
  color: #fffcf7;
  display: none;
  justify-content: center;
  left: 50%;
  padding: 5px 4px;
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  width: fit-content;
}

.weekday-container {
  color: #9d9a93;
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

/* Summary section styles */
.summary {
  color: #9d9a93;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.25rem;
}

.total-spent-this-month {
  color: #392416;
  font-size: 3rem;
  font-weight: 600;
  margin: 5px 0 0 0;
}

.deviation {
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5px;
  text-align: right;
}

.deviation-from-last-month {
  color: #392416;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

/* Mobile styles */
@media screen and (max-width: 576px) {
  html {
    font-size: 15px;
  }

  .spendings-breakdown {
    border-bottom: 3px solid #f7e9dc;
    height: 30vh;
  }

  .bar-chart {
    column-gap: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .component {
    max-width: 100vw;
  }

  .balance {
    border-radius: 0;
  }

  .main {
    border-radius: 0;
  }
}
